<div>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum neque distinctio ea quas doloribus et ipsa tempore quo aut laborum!</p>
    <div class="container">
        <ng-container *ngFor="let card of aboutCards">
            <div>
                <img src={{card.picture}} alt="">
                <h3>{{card.name}}</h3>
                <p>{{card.description}}</p>
                <div class="container">
                    <ng-container  *ngFor="let ico of card.socials">
                        <a href="" target="_blank" rel="noopener noreferrer"><img src={{ico}} alt=""></a>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>