<div class="teste1">
    <div class="container teste" #sliderId>
        <div>
            <img [src]="slides[slides.length -1].src" [alt]="slides[slides.length -1].description">
        </div>
        <ng-container *ngFor="let slide of slides">
            <div>
                <img [src]="slide.src" [alt]="slide.description">
            </div>
        </ng-container>
        <div>
            <img [src]="slides[0].src" [alt]="slides[0].description">
        </div>
    </div>
    <button (click)="sliderPrevious()" type="button">previous</button>
    <button  (click)="sliderNext()" type="button">next</button>
</div>
<!-- [style]="{marginLeft: '-100%'}" 
<img src="/assets/arrow-left.svg" alt="">
<img src="/assets/arrow-right.svg" alt="">
-->