<div>
    <div class="container" #sliderId>
        <div>
            <img [src]="slides[slides.length -1].src" [alt]="slides[slides.length -1].description">
        </div>
        <ng-container *ngFor="let slide of slides">
            <div>
                <img [src]="slide.src" [alt]="slide.description">
            </div>
        </ng-container>
        <div>
            <img [src]="slides[0].src" [alt]="slides[0].description">
        </div>
    </div>
    <button (onClick)="sliderNext()" type="button"></button>
    <button (onClick)="sliderPrevious()"  type="button"></button>
</div>
<!-- [style]="{marginLeft: '-100%'}" 
<img src="/assets/arrow-left.svg" alt="">
<img src="/assets/arrow-right.svg" alt="">
-->