<div>
    <body>
        <header>
            <app-nav-bar></app-nav-bar>
        </header>
        <section>
            <app-slider></app-slider>
        </section>
        <section>
            <app-services></app-services>
        </section>
        <section>
            <app-portfolio></app-portfolio>
        </section>
        <section>
            <app-about></app-about>
        </section>
        <section>
            <app-contact></app-contact>
        </section>
        <footer>
            <app-footer></app-footer>
        </footer>
    </body>
</div>