* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.global-wrapper {
    max-width: 1020px;
    width: 100%;
    margin: auto;
}

// .section {
//     padding: 40px 40px;
// }

.container{
    display: flex;

    &__column {
        flex-direction: column;
    }
}