/* You can add global styles to this file, and also import other style files */
.section {
    padding: 40px 40px;
}

.container{
    display: flex;

    &__column {
        flex-direction: column;
    }
}