$base-red: #F06C64;
$base-blue: #2D303A;
$base-white: #F2F2F2;
$border-red: #EA676B;
$border-blue: #323746;
$border-white: #ffffff;
$section-headers: #666D89;
$section-description: #767E9E;
$section-light: #F0D8D9;
$navbar-h: 95px;
$footer-h: 10vh;